<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.mapper.AlertDataMapper">

    <resultMap id="BaseResultMap" type="com.zzyl.entity.AlertData">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="iot_id" property="iotId" jdbcType="VARCHAR"/>
        <result column="device_name" property="deviceName" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="product_key" property="productKey" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="function_id" property="functionId" jdbcType="VARCHAR"/>
        <result column="access_location" property="accessLocation" jdbcType="VARCHAR"/>
        <result column="location_type" property="locationType" jdbcType="INTEGER"/>
        <result column="physical_location_type" property="physicalLocationType" jdbcType="INTEGER"/>
        <result column="device_description" property="deviceDescription" jdbcType="VARCHAR"/>
        <result column="data_value" property="dataValue" jdbcType="VARCHAR"/>
        <result column="alert_rule_id" property="alertRuleId" jdbcType="BIGINT"/>
        <result column="alert_reason" property="alertReason" jdbcType="VARCHAR"/>
        <result column="processing_result" property="processingResult" jdbcType="VARCHAR"/>
        <result column="processor_id" property="processorId" jdbcType="BIGINT"/>
        <result column="processor_name" property="processorName" jdbcType="VARCHAR"/>
        <result column="processing_time" property="processingTime" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, iot_id, device_name, nickname, product_key, product_name, function_id,
        access_location, location_type, physical_location_type, device_description,
        data_value, alert_rule_id, alert_reason, processing_result, processor_id,
        processor_name, processing_time, type, status, user_id, create_time,
        update_time, create_by, update_by, remark
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM alert_data
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByIotId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM alert_data
        WHERE iot_id = #{iotId,jdbcType=VARCHAR}
        ORDER BY create_time DESC
    </select>

    <select id="selectByAlertRuleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM alert_data
        WHERE alert_rule_id = #{alertRuleId,jdbcType=BIGINT}
        ORDER BY create_time DESC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM alert_data
        ORDER BY id DESC
    </select>

    <select id="selectByCondition" parameterType="com.zzyl.entity.AlertData" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM alert_data
        <where>
            <if test="iotId != null and iotId != ''">
                AND iot_id = #{iotId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND device_name LIKE CONCAT('%', #{deviceName}, '%')
            </if>
            <if test="alertRuleId != null">
                AND alert_rule_id = #{alertRuleId}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                AND create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectByTimeRange" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM alert_data
        WHERE iot_id = #{iotId,jdbcType=VARCHAR}
        <if test="startTime != null">
            AND create_time &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" parameterType="com.zzyl.entity.AlertData">
        INSERT INTO alert_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="iotId != null">
                iot_id,
            </if>
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="productKey != null">
                product_key,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="functionId != null">
                function_id,
            </if>
            <if test="accessLocation != null">
                access_location,
            </if>
            <if test="locationType != null">
                location_type,
            </if>
            <if test="physicalLocationType != null">
                physical_location_type,
            </if>
            <if test="deviceDescription != null">
                device_description,
            </if>
            <if test="dataValue != null">
                data_value,
            </if>
            <if test="alertRuleId != null">
                alert_rule_id,
            </if>
            <if test="alertReason != null">
                alert_reason,
            </if>
            <if test="processingResult != null">
                processing_result,
            </if>
            <if test="processorId != null">
                processor_id,
            </if>
            <if test="processorName != null">
                processor_name,
            </if>
            <if test="processingTime != null">
                processing_time,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="iotId != null">
                #{iotId,jdbcType=VARCHAR},
            </if>
            <if test="deviceName != null">
                #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="productKey != null">
                #{productKey,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="functionId != null">
                #{functionId,jdbcType=VARCHAR},
            </if>
            <if test="accessLocation != null">
                #{accessLocation,jdbcType=VARCHAR},
            </if>
            <if test="locationType != null">
                #{locationType,jdbcType=INTEGER},
            </if>
            <if test="physicalLocationType != null">
                #{physicalLocationType,jdbcType=INTEGER},
            </if>
            <if test="deviceDescription != null">
                #{deviceDescription,jdbcType=VARCHAR},
            </if>
            <if test="dataValue != null">
                #{dataValue,jdbcType=VARCHAR},
            </if>
            <if test="alertRuleId != null">
                #{alertRuleId,jdbcType=BIGINT},
            </if>
            <if test="alertReason != null">
                #{alertReason,jdbcType=VARCHAR},
            </if>
            <if test="processingResult != null">
                #{processingResult,jdbcType=VARCHAR},
            </if>
            <if test="processorId != null">
                #{processorId,jdbcType=BIGINT},
            </if>
            <if test="processorName != null">
                #{processorName,jdbcType=VARCHAR},
            </if>
            <if test="processingTime != null">
                #{processingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO alert_data
        <trim prefix="(" suffix=")">
            id, iot_id, device_name, nickname, product_key, product_name, function_id,
            access_location, location_type, physical_location_type, device_description,
            data_value, alert_rule_id, alert_reason, processing_result, processor_id,
            processor_name, processing_time, type, status, user_id, create_time,
            update_time, create_by, update_by, remark
        </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.iotId,jdbcType=VARCHAR},
            #{item.deviceName,jdbcType=VARCHAR},
            #{item.nickname,jdbcType=VARCHAR},
            #{item.productKey,jdbcType=VARCHAR},
            #{item.productName,jdbcType=VARCHAR},
            #{item.functionId,jdbcType=VARCHAR},
            #{item.accessLocation,jdbcType=VARCHAR},
            #{item.locationType,jdbcType=INTEGER},
            #{item.physicalLocationType,jdbcType=INTEGER},
            #{item.deviceDescription,jdbcType=VARCHAR},
            #{item.dataValue,jdbcType=VARCHAR},
            #{item.alertRuleId,jdbcType=BIGINT},
            #{item.alertReason,jdbcType=VARCHAR},
            #{item.processingResult,jdbcType=VARCHAR},
            #{item.processorId,jdbcType=BIGINT},
            #{item.processorName,jdbcType=VARCHAR},
            #{item.processingTime,jdbcType=TIMESTAMP},
            #{item.type,jdbcType=INTEGER},
            #{item.status,jdbcType=INTEGER},
            #{item.userId,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.createBy,jdbcType=BIGINT},
            #{item.updateBy,jdbcType=BIGINT},
            #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.zzyl.entity.AlertData">
        UPDATE alert_data
        <set>
            <if test="iotId != null">
                iot_id = #{iotId,jdbcType=VARCHAR},
            </if>
            <if test="deviceName != null">
                device_name = #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="productKey != null">
                product_key = #{productKey,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="functionId != null">
                function_id = #{functionId,jdbcType=VARCHAR},
            </if>
            <if test="accessLocation != null">
                access_location = #{accessLocation,jdbcType=VARCHAR},
            </if>
            <if test="locationType != null">
                location_type = #{locationType,jdbcType=INTEGER},
            </if>
            <if test="physicalLocationType != null">
                physical_location_type = #{physicalLocationType,jdbcType=INTEGER},
            </if>
            <if test="deviceDescription != null">
                device_description = #{deviceDescription,jdbcType=VARCHAR},
            </if>
            <if test="dataValue != null">
                data_value = #{dataValue,jdbcType=VARCHAR},
            </if>
            <if test="alertRuleId != null">
                alert_rule_id = #{alertRuleId,jdbcType=BIGINT},
            </if>
            <if test="alertReason != null">
                alert_reason = #{alertReason,jdbcType=VARCHAR},
            </if>
            <if test="processingResult != null">
                processing_result = #{processingResult,jdbcType=VARCHAR},
            </if>
            <if test="processorId != null">
                processor_id = #{processorId,jdbcType=BIGINT},
            </if>
            <if test="processorName != null">
                processor_name = #{processorName,jdbcType=VARCHAR},
            </if>
            <if test="processingTime != null">
                processing_time = #{processingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM alert_data
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM alert_data
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
